*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   margin: 0;
   width: 100vw;
   height: 100vh;
}
header{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
   padding: 0px 20px;
   background: orange;
   font-size: 2em;
   position: fixed;
   top: 0;
}
#logo{
   width: 100px;
   height: 100px;
   margin-left: 10px;
}

ul li{
   list-style: none;
}
.contacto{
   width: 100%;
   display: flex;
}
.contacto li a, .catalogo li a{
   background-color: #000;
   color: #fff;
   padding: 10px 10px;
   font-size: 1rem;
   text-decoration: none;
   margin: 0 5px;
   border-radius: 5px;

}
.contacto li a:hover{
   background-color: #434343;
   border: 1px solid white;
}
 
.catalogo > li{
   float: left;
} 
.catalogo li ul{
   display: none;
   position: absolute;
   min-width: 140px;
}
.catalogo li:hover ul{
   display:block;
}
/* .catalogo li ul li{
   display: none;
} */
.catalogo li ul:hover li{
   display: block;
}

.buscador{
   width: 50%;
   max-width: 100%;
   position: relative;
   height: 40px;
}
.buscador input{
   width:100%;
   height: 100%;
   border: 1px solid lightgray;
   border-radius: 5px;
   font-size: 1em;
   position: absolute;
   text-align: center;
}
.buscador button{
   cursor: pointer;
   height: 100%;
   background: lightgray;
   border: 2px solid lightgray;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   position: absolute;
   right: 0;
   aspect-ratio: 1;
}
.contacto{
   cursor:pointer;
   text-align: center;
   font-size: 1.5rem;
   flex-direction: row;
}

/* main container */

.container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: flex-start;
   background: linear-gradient(beige, gray);
   margin-top: 100px;
}
section div{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.container h2{
   text-align: center;
   font-size: 2em;
   text-decoration: underline;
}
.card{
   width: 380px;
   height: 500px;
   margin: 20px 20px;
   box-shadow: 5px 5px 2px black;
}

.card .front{
   transform: perspective(600px) rotateY(180deg);
   box-shadow: 0px 5px 10px #000;
}
.card .front img{
   width: 100%;
   height: 88%;
   object-fit: cover;
   border-radius: 10px;
}
.card .front .info{
   bottom: 0;
   width: 100%;
   height: 12%;
   display: flex;
   justify-content: center;
   text-align: center;
   text-shadow: 2px 2px 2px black;
   background-color: rgb(145, 81, 81);
   color: antiquewhite;
}
.info .autor{
   font-size: 1rem;
}
.info .titulo{
   font-size: 1.5rem;
}

.card .back{
   background: rgb(3, 35, 54);
   padding: 15px;
   color: #f3f3f3;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
}
.card .back .info{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 20%;
}
.card .back .descripcion{
   width: 100%;
   height: 65%;
}
.card .back h3{
   text-align: end;
}

.card img{
   width: 100%;
   height: 90%;
   overflow: hidden;
   border-radius: 10px 10px 0px 0px;
}

.card-info{
   height: 10%;
   display: flex;
   flex-direction: column;
   text-align: center;
   text-shadow: 2px 2px 2px black;
   background-color: rgb(145, 81, 81);
   color: antiquewhite;
   border-radius: 0px 0px 10px 10px;
}
